<div class="about-container-fluid">
	<p class="about-text">
		A <i>Base Apolo</i> é uma plataforma digital para o compartilhamento de oportunidades acadêmicas para o corpo discente da universidade Federal do Rio de Janeiro (UFRJ). Por oportunidade acadêmica entendemos atividades do tipo: Iniciação Científica (IC), Iniciação Tecnológica e Industrial (ITI), Equipes de Competição, Projetos de Extensão e Monitorias.<br>
		Mesmo a UFRJ sendo uma das maiores e mais interdisciplinares universidades do Brasil, ainda existe uma deficiência no compartilhamento de bolsas e oportunidade. Muitas vezes para um aluno conseguir [...]. O objetivo era simples: Criar uma espécie de "classificados" de oportunidades para facilitar a vida dos alunos (e professores) e evitar que você necessite enviar diversos email para obter informações simples.<br>
	</p>
</div>