<h1 class="title-text"> Sobre o projeto </h1>
<div class="about-container-fluid">
	<p class="about-text">
			A <i>Base Apolo</i> é uma plataforma digital para o compartilhamento de oportunidades acadêmicas para o corpo discente da universidade Federal do Rio de Janeiro (UFRJ). Por oportunidade acadêmica entendemos atividades do tipo: Iniciação Científica (IC), Iniciação Tecnológica e Industrial (ITI), Equipes de Competição, Projetos de Extensão e Monitorias.<br>
			[Inserir mais descrição]<br>
	</p>
</div>