<h1 class="title-text"> Fale conosco! </h1>
<div class="container-contact" >
	<address class="contact">
		Heitor Guimarães<br>
		Desenvolvedor 1<br>
		hguimaraes@poli.ufrj.br
	</address>
	<address class="contact">
		Lucas Passeri<br>
		Desenvolvedor 2<br>
		lucaspasseri@poli.ufrj.br
	</address>
	<address class="contact">
		Luis Alberto Vital Marquezzini Junior<br>
		Desenvolvedor 3<br>
		luismarquezzini@poli.ufrj.br
	</address>
	<address class="contact">
		Marcelo Maestrelli Leobons<br>
		Desenvolvedor 4<br>
		mml@poli.ufrj.br
	</address>

</div>