<style>
	.contato {
		border: 1px solid lightgrey;
		padding:10px;
	}
</style>

<div style="background-color:white; border:1px solid darkgrey; padding:5px">
	<h1>
		Contatos
	</h1>
	<address class="contato">
		Heitor Guimarães<br>
		Desenvolvedor 1<br>
		hguimaraes@poli.ufrj.br
	</address>
	<address class="contato">
		Lucas Passeri<br>
		Desenvolvedor 2<br>
		lucaspasseri@poli.ufrj.br
	</address>
	<address class="contato">
		Luis Alberto Vital Marquezzini Junior<br>
		Desenvolvedor 3<br>
		luismarquezzini@poli.ufrj.br
	</address>
	<address class="contato">
		Marcelo Maestrelli Leobons<br>
		Desenvolvedor 4<br>
		mml@poli.ufrj.br
	</address>

</div>