<div class="signup-div">
	<form class="form-signup">
		<!-- Simple user input -->
		<label for="inputName" class="sr-only">Nome</label>
		<input type="text" id="inputName" class="form-control" placeholder="Nome" required autofocus>
		<label for="inputEmail" class="sr-only">E-mail</label>
		<input type="email" id="inputEmail" class="form-control" placeholder="Email @*.ufrj.br" required>
		<label for="inputPassword" class="sr-only">Senha</label>
		<input type="password" id="inputPassword" class="form-control" placeholder="Senha" required>
		
		<!-- Dropdown with course options -->
		<div class="btn-group" uib-dropdown keyboard-nav ng-controller="courseCtrl">
			<button type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle> {{course}} 
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" uib-dropdown-menu role="menu">
				<li ng-repeat="x in courses"><a ng-click="update(x)">{{x}}</a></li>
			</ul>
		</div>
		
		<!-- Use terms checkbox -->
		<div class="checkbox">
			<span style="background-color:white; border:1px solid lightgrey; padding:5px">
				<label>
					<input type="checkbox" value="accept" required> Li e concordo com os termos de uso.
				</label>
			</span>
		</div>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Cadastrar</button>
	</form>
</div>