/*html, body {
  position: relative;
  min-height: 100%;
  padding-top: 50px;
  margin-bottom: 50px;
}*/

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  margin-bottom: 60px;
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}